@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: #F8FAFC;
  --color-foreground: #0F172A;

  --color-card: #FFFFFF;
  --color-card-foreground: #0F172A;
  --color-popover: #FFFFFF;
  --color-popover-foreground: #0F172A;

  --color-primary: #2563EB;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #E8F0FE;
  --color-secondary-foreground: #1E3A8A;

  --color-muted: #F1F5F9;
  --color-muted-foreground: #64748B;
  --color-accent: #F59E0B;
  --color-accent-foreground: #1F2937;

  --color-destructive: #EF4444;
  --color-border: #E2E8F0;
  --color-input: #F8FAFC;
  --color-ring: #2563EB;

  --color-chart-1: #2563EB;
  --color-chart-2: #60A5FA;
  --color-chart-3: #1E3A8A;
  --color-chart-4: #F59E0B;
  --color-chart-5: #94A3B8;
  
  --color-sidebar: #F1F5FF;
  --color-sidebar-foreground: #1E3A8A;
  --color-sidebar-primary: #2563EB;
  --color-sidebar-primary-foreground: #FFFFFF;

  --color-sidebar-accent: #E8F0FE;
  --color-sidebar-accent-foreground: #1E3A8A;
  --color-sidebar-border: #E2E8F0;
  --color-sidebar-ring: #2563EB;
}

:root {
  --radius: 0.625rem;

  --background: #F8FAFC;
  --foreground: #0F172A;

  --card: #FFFFFF;
  --card-foreground: #0F172A;
  --popover: #FFFFFF;
  --popover-foreground: #0F172A;

  --primary: #2563EB;
  --primary-foreground: #FFFFFF;
  --secondary: #E8F0FE;
  --secondary-foreground: #1E3A8A;

  --muted: #F1F5F9;
  --muted-foreground: #64748B;
  --accent: #F59E0B;
  --accent-foreground: #1F2937;
  
  --destructive: #EF4444;
  --border: #E2E8F0;
  --input: #F8FAFC;
  --ring: #2563EB;


  --chart-1: #2563EB;
  --chart-2: #60A5FA;
  --chart-3: #1E3A8A;
  --chart-4: #F59E0B;
  --chart-5: #94A3B8;

  --sidebar: #F1F5FF;
  --sidebar-foreground: #1E3A8A;
  --sidebar-primary: #2563EB;
  --sidebar-primary-foreground: #FFFFFF;

  --sidebar-accent: #E8F0FE;
  --sidebar-accent-foreground: #1E3A8A;
  --sidebar-border: #E2E8F0;
  --sidebar-ring: #2563EB;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    scrollbar-gutter: stable;
  }

  body[data-scroll-locked] {
    overflow: auto !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}

.scroll-container {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.scroll-container::-webkit-scrollbar {
  display: none; 
}


input.no-counter::-webkit-outer-spin-button,
input.no-counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-counter[type=number] {
  -moz-appearance: textfield;
}